<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/head}"></th:block>
</head>
<body>
<header th:insert="~{/fragments/header}"></header>
<main>
    <div class="text-center p-5">
        <p>
            <a href="https://matthung0807.blogspot.com/2021/05/spring-boot-thymeleaf-todolist-example.html" target="_blank">
                Spring Boot Thymeleaf Bootstrap TODOLIST demo
            </a>
        </p>
    </div>
</main>
<footer th:insert="~{/fragments/footer}"></footer>
</body>
</html>