<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/head}"></th:block>
</head>
<body>
<header th:insert="~{/fragments/header}"></header>
<main>
    <div class="p-5">
        <form class="row" th:action="@{/todolist/add}" method="post">
            <th:block th:unless="${#strings.isEmpty(error)}">
                <div class="alert alert-danger" role="alert">[[${error}]]</div>
            </th:block>
            <label for="desc" class="col-1 col-form-label">[[#{todolist.todo}]]：</label>
            <div class="col">
                <input type="text" class="form-control" name="desc" id="desc" maxlength="100">
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary">[[#{todolist.confirm}]]</button>
                <a th:href="@{/todolist}" class="btn btn-primary">[[#{todolist.cancel}]]</a>
            </div>

        </form>
    </div>
</main>
<footer th:insert="~{/fragments/footer}"></footer>
</body>
</html>