<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hello Thymeleaf</title>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"/>

<h2>Employee List</h2>
<table>
    <thead>
        <tr>
            <th>INDEX</th>
            <th>COUNT</th>
            <th>EVEN</th>
            <th>ODD</th>
            <th>FIRST</th>
            <th>LAST</th>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="employee,status : ${employeeList}">
            <td th:text="${status.index}">index</td>
            <td th:text="${status.count}">count</td>
            <td th:text="${status.even}">even</td>
            <td th:text="${status.odd}">odd</td>
            <td th:text="${status.first}">first</td>
            <td th:text="${status.last}">last</td>
            <td th:text="${employee.id}">id</td>
            <td th:text="${employee.name}">name</td>
            <td th:text="${employee.age}">age</td>
        </tr>
    </tbody>
</table>
</body>
</html>